.friends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0em -1em 2em;
  .friend {
    width: 8em;
    @include responsive(small) {
      width: 10em;
    }
    @include responsive(medium) {
      width: 12em;
    }
  }
  .logo {
    @include transition(fill);
    fill: c(alt, 0.25);
    fill-rule: evenodd;
  }
}

$friends: (
  agilekoulutus: [#365691,#17763e,#00233d,#000000],
  ambientia: [#FF2457],
  atostek: [#484D51,#8ABD23,#5AB031],
  bitwise: [#1D1D1B],
  cinia: [#DC5440,#050303],
  digia: [#D8001F],
  cybercom: [#025599],
  eficode: [#15007c],
  eparking: [#0088e1,#343434],
  etteplanmore: [#EF413D,#1CA4DD],
  framery: [#0c8260],
  futurice: [#0AB587],
  gofore: [#FF8551],
  innogiant: [#000000],
  intopalo: [#054E96,#05B2E1],
  multim: [#53b1e3,#0375b0,#343434],
  netum: [#3AAA35],
  nokianpanimo: [#242021],
  poas: [#3A5DAE],
  polarsquad: [#000000],
  profit: [#001A70],
  pyynikin: [#000],
  rdvelho: [#84BC26,#4C4D4F],
  riemurinne: [#2C3795],
  solita: [#DC1E32],
  tek: [#009DC3,#797C82],
  tuni: [#4d008d],
  vincit: [#F04E30],
  wapice: [#006FAB],
  yit: [#0487B4]
);

@each $name, $colors in $friends {
  ##{$name} {
    &:hover, &:focus {
      @for $i from 1 through length($colors) {
        .f#{$i} {
          @include transition(fill);
          $c: nth($colors, $i);
          fill: $c;
        }
      }
    }
  }
}
