.logo {
  fill: currentColor;
  &.-nav {
    width: 7.75em;
    height: 2em;
  }
  &.-side {
    display: none;
    @include responsive(small) {
      display: block;
      width: 23em;
      height: 44em;
      right: 0.5em;
      bottom: 1.5em;
      position: fixed;
    }
  }
}
