.play-button {
  @include transition('background');
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0.25em;
  color: c(base);
  background: c(brand3);
  &:hover {
    background: c(brand3, 0.1);
  }
  .icon {
    width: 2.5em;
    height: 2.5em;
  }

  &%play-button-huge {
    align-self: flex-start;
    margin-top: 2em;
    .icon {
      width: 12em;
      height: 12em;
    }
  }

  &%play-button-inverted {
    color: c(brand3);
    background: c(base);
    &:hover {
      background: c(base, 0.1);
    }
  }
}

.play-button.stopped {
  .stop {
    display: none;
  }
  .play {
    display: block;
  }
}
.play-button.playing {
  .stop {
    display: block;
  }
  .play {
    display: none;
  }
}
