.top-bar {
  background: c(brand);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  @include responsive(medium) {
    display: flex;
    justify-content: space-between;
  }

  audio {
    display: none;
    height: 32px;
    margin: auto 7px;
    @include responsive-to(large) {
      display: none;
    }
    @include responsive-to(small) {
      position: absolute;
      width: 94%;
      top: 100px;
      left: 47%;
      margin-left: -47%;
      padding: 0 3%;
    }
  }

  nav {
    @include t(caps);
    display: flex;
    list-style: none;
    line-height: 2rem;
    &.-main {
      a {
        @include transition('background');
        padding: 0.25em 0.5em;
        margin: 0.25em;
        border-radius: 0.25em;
        &:hover {
          background: c(brand-alt, 0.9);
        }
        &:focus {
          background: c(brand-alt, 0.8);
        }
        &.active {
          background: c(brand-alt);
          color: c(brand);
        }
      }
      @include responsive(medium) {
        a {
          padding: 1em 2em;
          margin: 0;
          border-radius: 0;
        }
      }
    }
    &.-social {
      justify-content: flex-end;
      a {
        padding: 0.25em 0.25em 0.5em;
      }
      li:last-child {
        padding-right: 0.25em;
      }
      .icontext {
        background: currentColor;
        padding: 0 0.5em;
        margin: 0.25em 0.25em 0.5em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        span, .icon {
          color: c(brand);
          white-space: nowrap;
        }
        .icon {
          width: 1.5em;
          height: 1.5em;
          padding-right: 0.25em;
        }
      }
      @include responsive-to(small) {
        .icontext span {
          font-size: 0.75em;
        }
      }
      @include responsive(medium) {
        a {
          padding: 1em 0.5em;
        }
        li:last-child {
          padding-right: 0.5em;
        }
        .icontext {
          margin: 1em 0.5em;
        }
      }
    }
  }
  a {
    display: block;
    color: c(base);
    text-decoration: none;
    &:hover {
      color: c(base, 0.1);
    }
    &:focus {
      color: c(base, 0.2);
    }
    &:focus {
      outline: none;
    }
  }
}
