.view-container {
  padding: 6em 1em 4em;
  max-width: 40em;
  margin: auto;
  &.-start {
    .play-button {
      @extend %play-button-huge;
      margin-right: 2em;
    }
  }
  &.-programs {
    nav {
      list-style: none;
      a {
        &:hover {
          text-decoration: none;
        }
        &.active {
          color: c(alt);
          text-decoration: none;
        }
      }
      //@include responsive(small) {
        display: flex;
        li {
          &::after {
            // en-space bullet en-space
            content: '\2002\2022\2002';
          }
          &:last-child::after {
            content: none;
          }
        }
      //}
      @include responsive-to(small) {
        font-size: 0.85em;
      }
    }

	h2{
		@include responsive-to(small){
			font-size:1.4rem;
		}
	}
  }
  a.program-link {
    text-decoration: none;
  }
  .licenses {
    li {
      font-size: 0.75rem;
    }
  }
  .friends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    @include responsive(xlarge) {
      margin: 4em -40px;
    }
    @include responsive-to(small) {
      display: none;
    }
  }
  @include responsive(medium) {
    padding: 5em 20em 6em 1em;
  }
  @include responsive(large) {
    padding: 5em 24em 6em 1em;
  }
  @include responsive(xlarge) {
    padding: 5em 20em 6em 1em;
  }
}
