@use "../vars";

a, .back-button {
  @include vars.transition(color);
  color: vars.c(links);
  text-decoration: underline;
  &:hover {
    color: vars.c(brand, 0.2);
    text-decoration: none;
  }
}

.back-button {
  @include vars.t((caps, level3));
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &::before {
    content: '\2039\00a0';
  }
}

%inverted {
  color: vars.c(base);
  background: vars.c(alt);
  a {
    color: vars.c(brand-alt);
    &:hover {
      color: vars.c(brand-alt, 0.2);
    }
  }
}

:focus {
  outline: 2px dotted vars.c(brand);
}
